@font-face {
  font-family: 'MuseoSansCyrl-100';
  font-weight: 100;
  font-style: normal;
  src: local("MuseoSansCyrl-100"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  font-weight: 300;
  font-style: normal;
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  font-weight: 500;
  font-style: normal;
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  font-weight: 700;
  font-style: normal;
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Light';
  font-weight: 300;
  font-style: normal;
  src: local("Inter-Light"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}

.carousel-slider__info, .furniture__text, .event__item {
  font-family: "MuseoSansCyrl-100", sans-serif;
  font-weight: 100;
  font-style: normal;
}

a, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, .carousel-slider__code, .catalog-card__code, .card-product__text, .card-product__width, .card-product__height, .card-product__depth, .order .custom-checkbox, .basket__span, .basket__items, .basket__description, .footer-top__time, .footer-bottom__copyright {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a, input:-ms-input-placeholder,
textarea:-ms-input-placeholder, .carousel-slider__code, .catalog-card__code, .card-product__text, .card-product__width, .card-product__height, .card-product__depth, .order .custom-checkbox, .basket__span, .basket__items, .basket__description, .footer-top__time, .footer-bottom__copyright {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a, input::-ms-input-placeholder,
textarea::-ms-input-placeholder, .carousel-slider__code, .catalog-card__code, .card-product__text, .card-product__width, .card-product__height, .card-product__depth, .order .custom-checkbox, .basket__span, .basket__items, .basket__description, .footer-top__time, .footer-bottom__copyright {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a, input::placeholder,
textarea::placeholder, .carousel-slider__code, .catalog-card__code, .card-product__text, .card-product__width, .card-product__height, .card-product__depth, .order .custom-checkbox, .basket__span, .basket__items, .basket__description, .footer-top__time, .footer-bottom__copyright {
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-weight: 300;
  font-style: normal;
}

input,
textarea, .title, .breadcrumbs__link, .start-page__link, .carousel-slider__price, .catalog-card__description, .catalog-card__price, .cooperate__text, .event__date, .catalog-product__text, .filter-sidebar__custom-checkbox, .filter-sidebar__price-from, .filter-sidebar__price-to, .buy-together__title, .card-product__code, .card-product__price-num, .basket__top, .basket__forms .custom-checkbox, .basket__delete, .basket__head-title, .basket__head-code, .basket__footer-price, .footer-top__items-title {
  font-family: "MuseoSansCyrl-500", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.catalog-title, .order-title, .order__btn, .basket__plus, .basket__btn, .carousel-slider__name, .catalog-card__discount, .catalog-card__order, .catalog-card__colors, .catalog-product__open, .filter__view, .filter-pagination__link, .filter-sidebar__title, .filter-sidebar__view, .filter-sidebar__discount, .filter-sidebar__btn, .card-product__price, .card-product__add-cart, .card-product__span, .card-product__items, .card-product__number, .basket__promo, .basket__price, .basket__cart, .basket__total, .basket__description-title, .basket .jq-number__field input {
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer-bottom__text, .footer-bottom__link {
  font-family: "Inter-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.catalog__link, .catalog__all, .cooperate__btn, .event__btn {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

a {
  font-size: 16px;
  line-height: 19px;
  color: #474a51;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

input,
textarea {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
  background: #fff;
  border-radius: 5px;
  border: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #9ba2b7;
  outline: none;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #9ba2b7;
  outline: none;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #9ba2b7;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #9ba2b7;
  outline: none;
}

textarea {
  resize: none;
}

.title {
  font-size: 48px;
  line-height: 100%;
  color: #474a51;
  text-align: center;
  margin-bottom: 50px;
}

.breadcrumbs__inner {
  padding: 0 0 22px 12px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "/";
  top: 2px;
  right: -17px;
  width: 5px;
  height: 12px;
  color: #d5d9e5;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 25px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 100%;
  color: #d5d9e5;
}

.breadcrumbs__link--active {
  color: #5a5f6e;
}

.catalog-title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 40px;
  color: #474a51;
}

.order-title {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
  margin-bottom: 20px;
}

.order__btn, .basket__plus, .basket__btn {
  background: #cf000f;
  border-radius: 5px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fff;
  padding: 16px 0;
}

.start-page {
  height: 100vh;
}

.start-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.start-page__link + .start-page__link {
  margin-top: 20px;
}

.start-page__link {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 52px;
  max-width: 1360px;
  margin: 0 auto;
}

.header__menu {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 43px;
  margin-right: auto;
}

.header__item + .header__item {
  margin-left: 62px;
}

.header__link, .header__text {
  line-height: 19px;
}

.header__text {
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f5f9), to(#f2f5f9)), #efefef;
  background: linear-gradient(0deg, #f2f5f9, #f2f5f9), #efefef;
  border-radius: 30px;
  padding: 11px 14px 10px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__form {
  max-width: 150px;
  width: 100%;
}

.header__label {
  width: 100%;
  position: relative;
}

.header__label .header__search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}

.header__input {
  width: 100%;
  padding: 10px 15px;
  background: #f2f5f9;
  border-radius: 30px;
  border: none;
  outline: none;
}

.header__user-profile, .header__bookmark, .header__bag {
  margin-left: 20px;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  line-height: 100%;
}

.header__tel img {
  display: none;
}

.carousel__inner {
  padding-bottom: 52px;
}

.carousel-slider {
  max-width: 100%;
  width: 100%;
}

.carousel-slider__card, .carousel-slider__item {
  max-width: 1400px;
  width: 100%;
  min-height: 400px;
}

.carousel-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-slider__content {
  max-width: 1035px;
  width: 100%;
  min-height: inherit;
  background-position: center;
  background-size: cover;
  padding: 0 63px 0 86px;
  color: #fff;
}

.carousel-slider__code {
  font-size: 16px;
  line-height: 19px;
  margin-top: 187px;
}

.carousel-slider__name {
  margin: 10px 0;
}

.carousel-slider__name, .carousel-slider__price {
  font-size: 25px;
  line-height: 30px;
}

.carousel-slider__price {
  margin-bottom: auto;
}

.carousel-slider__info {
  max-width: 365px;
  width: 100%;
  background: #666874;
  min-height: inherit;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-slider__new {
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #242835;
  margin: auto auto 43px;
}

.carousel-slider__subtitle {
  font-size: 21.28px;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.carousel-slider__title, .carousel-slider__description, .carousel-slider__subtitle {
  color: #fff;
}

.carousel-slider__title {
  font-size: 51.8029px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 10px auto 20px;
}

.carousel-slider__description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: auto;
}

.carousel-slider__wrap {
  background: rgba(175, 175, 175, 0.1);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 5px;
  max-width: 286px;
  width: 100%;
  margin-left: auto;
  padding: 16px 25px;
  min-height: 131px;
  margin-top: auto;
}

.carousel-slider__wrap .carousel-slider__code {
  margin-top: 0;
}

.carousel-slider .slick-dots {
  position: absolute;
  bottom: -38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  font-size: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.carousel-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#ececec)), #b00000;
  background: linear-gradient(0deg, #ececec, #ececec), #b00000;
}

.carousel-slider .slick-dots li.slick-active button {
  background: -webkit-gradient(linear, left bottom, left top, from(#b00000), to(#b00000)), #ececec;
  background: linear-gradient(0deg, #b00000, #b00000), #ececec;
  border-radius: 50%;
}

.catalog__inner {
  padding: 52px 0 35px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item + .catalog__item {
  margin-left: 40px;
}

.catalog__link {
  font-size: 22px;
  line-height: 27px;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.catalog__all {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
  border: 1px solid #5a5f6e;
  border-radius: 50px;
  padding: 11px 41px;
  margin: auto;
}

.catalog-card {
  min-height: 420px;
  max-width: 325px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 15px 30px -5px rgba(213, 217, 229, 0.5);
          box-shadow: 0px 15px 30px -5px rgba(213, 217, 229, 0.5);
  border-radius: 0px 0px 5px 5px;
}

.catalog-card__items, .catalog-card__item {
  min-height: 270px;
}

.catalog-card__slider {
  max-width: 325px;
  min-height: 270px;
}

.catalog-card__head {
  max-width: 325px;
  width: 100%;
  height: 270px;
  position: relative;
}

.catalog-card__head .catalog-card__information {
  position: absolute;
  top: 8px;
  left: 10px;
}

.catalog-card__head .catalog-card__bookmark {
  position: absolute;
  top: 8px;
  right: 10px;
}

.catalog-card__head .catalog-card__colors {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.catalog-card__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__discount, .catalog-card__order, .catalog-card__colors {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.catalog-card__discount {
  background: #f7ca18;
  font-size: 14px;
  color: #474a51;
}

.catalog-card__order {
  background: #5a5f6e;
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
}

.catalog-card__bookmark, .catalog-card__colors {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
}

.catalog-card__bookmark {
  border: 2px solid #f2f5f9;
  border-radius: 5px;
  background: transparent;
}

.catalog-card__colors {
  background: #f2f5f9;
  text-align: center;
  font-size: 12px;
  color: #001a34;
}

.catalog-card__img {
  width: 325px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.catalog-card__bookmark--active {
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background: #ff5f5f;
  border: 2px solid #ff5f5f;
}

.catalog-card__body {
  max-width: 325px;
  width: 100%;
  min-height: 150px;
  padding: 27px 20px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-card__code {
  font-size: 14px;
  line-height: 17px;
  color: #959cb2;
}

.catalog-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-card__info {
  max-width: 215px;
  width: 100%;
}

.catalog-card__cart {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #d5d9e5;
  border-radius: 5px;
}

.catalog-card__cart--active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid #ffa800;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7ca18), to(#f7ca18)), #ffa800;
  background: linear-gradient(0deg, #f7ca18, #f7ca18), #ffa800;
}

.catalog-card__cart--active path {
  fill: #fff;
}

.catalog-card__description {
  font-size: 16px;
  line-height: 19px;
  color: #001a34;
  margin-bottom: 10px;
}

.catalog-card__price {
  font-size: 25px;
  line-height: 30px;
  color: #cf000f;
}

.catalog-card__slider {
  position: relative;
}

.catalog-card__slider .slick-dots {
  position: absolute;
  bottom: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  font-size: 0;
  padding: 0;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.catalog-card__slider .slick-dots li button {
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#ececec)), #b00000;
  background: linear-gradient(0deg, #ececec, #ececec), #b00000;
}

.catalog-card__slider .slick-dots li.slick-active button {
  background: -webkit-gradient(linear, left bottom, left top, from(#b00000), to(#b00000)), #ececec;
  background: linear-gradient(0deg, #b00000, #b00000), #ececec;
  border-radius: 3px;
}

.furniture__inner {
  padding: 35px 0;
}

.furniture__title {
  margin-bottom: 0;
}

.furniture__text {
  margin: 30px auto 28px;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #474a51;
}

.furniture__video {
  display: block;
  max-width: 100%;
  width: 100%;
  min-height: 510px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: url("../img/furniture-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.furniture__play {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.cooperate__inner {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cooperate__wrapper {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cooperate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 440px;
  width: 100%;
  min-height: 549px;
  /*
    background: #ffffff;
    box-shadow: 0px 64px 44px -50px rgba(149, 156, 178, 0.35);
    border-radius: 5px 5px 0px 0px;*/
  border: 2px solid #d4d4d4;
  padding: 30px 31px 40px;
  margin-bottom: auto;
}

.cooperate__item + .cooperate__item {
  margin-left: 20px;
}

.cooperate__main {
  min-height: 379px;
}

.cooperate__text {
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #474a51;
  margin-bottom: 26px;
}

.cooperate__img {
  margin: auto;
}

.cooperate__btn {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
  background: #f2f5f9;
  border: none;
  border-radius: 40px;
  padding: 15px 85px;
  margin: auto;
}

.event__inner {
  padding: 100px 0 92px;
  padding: 30px 0 92px;
}

.event__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event__item {
  max-width: 325px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.event__item + .event__item {
  margin-left: 20px;
}

.event__date {
  color: #b00000;
}

.event__btn {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
  border: 1px solid #5a5f6e;
  border-radius: 50px;
  padding: 11px 41px;
  margin: 49px auto 0px;
}

.catalog-product__inner {
  padding: 12px 0 25px;
}

.catalog-product__wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 50px;
}

.catalog-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  width: 100%;
  min-height: 209px;
}

.catalog-product__content {
  max-width: 150px;
  min-height: 150px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.catalog-product__content img {
  width: 150px;
  height: 112px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.catalog-product__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #5a5f6e;
}

.catalog-product__open {
  display: block;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #31465a;
  padding: 16px 48px;
  background: #f2f5f9;
  border-radius: 5px;
  margin: auto;
  display: none;
}

.filter__inner {
  padding: 25px 0 78px;
}

.filter__title {
  margin-bottom: 46px;
}

.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__info {
  max-width: 1015px;
  width: 100%;
  margin-left: 40px;
}

.filter__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 74px;
  padding-bottom: 45px;
}

.filter .catalog-card__cart:hover {
  -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: #474a51;
  border: 2px solid #474a51;
}

.filter .catalog-card__cart:hover path {
  fill: #ffa800;
}

.filter__view {
  display: block;
  margin: 45px auto 0;
  border: 1px solid #d5d9e5;
  border-radius: 5px;
  padding: 16px 23px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #31465a;
}

.filter-pagination {
  max-width: 100%;
  width: 100%;
  padding: 60px 0 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.filter-pagination__item + .filter-pagination__item {
  margin-left: 20px;
}

.filter-pagination__item, .filter-pagination__arrow {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: #f2f5f9;
  border-radius: 5px;
}

.filter-pagination__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #959cb2;
}

.filter-pagination__item--active {
  background: #cf000f;
}

.filter-pagination__item--active .filter-pagination__link {
  color: #fff;
}

.filter-pagination__arrow {
  -webkit-transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.filter-pagination__arrow:hover {
  background: #cf000f;
}

.filter-pagination__arrow:hover path {
  fill: #fff;
}

.filter-sidebar {
  max-width: 325px;
  width: 100%;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.filter-sidebar__item {
  padding-left: 19px;
  max-width: 100%;
  width: 100%;
}

.filter-sidebar__item + .filter-sidebar__item {
  margin-top: 25px;
}

.filter-sidebar__title, .filter-sidebar__view, .filter-sidebar__discount, .filter-sidebar__btn {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
  margin-bottom: 32px;
}

.filter-sidebar__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  color: #31465a;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.filter-sidebar__custom-checkbox + .filter-sidebar__custom-checkbox {
  margin-top: 12px;
}

.filter-sidebar__custom-checkbox .filter-sidebar__checkbox {
  margin-right: 12px;
}

.filter-sidebar__custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.filter-sidebar__checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #31465a;
  border-radius: 3px;
}

.filter-sidebar__checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.filter-sidebar__custom-checkbox input:checked ~ .filter-sidebar__checkbox .filter-sidebar__checkmark {
  display: block;
}

.filter-sidebar__custom-checkbox input:checked ~ .filter-sidebar__checkbox {
  background: blue;
  border: 2px solid #31465a;
  background: #31465a;
}

.filter-sidebar__color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
}

.filter-sidebar__color-white {
  background: #fff;
  border: 1px solid #6e7d8b;
}

.filter-sidebar__color-beige {
  background: #fff8dc;
}

.filter-sidebar__color-turquoise {
  background: #00d6ca;
}

.filter-sidebar__color-vinous {
  background: #960001;
}

.filter-sidebar__color-bronze {
  background: #95553a;
}

.filter-sidebar__color-beech {
  background: #f2ab72;
}

.filter-sidebar__view {
  color: #cf000f;
  margin-top: 20px;
}

.filter-sidebar__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.filter-sidebar__discount + .filter-sidebar__discount {
  margin-top: 22px;
}

.filter-sidebar .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-sidebar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-sidebar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b3bcc5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-sidebar .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-sidebar input:checked + .slider {
  background: #31465a;
}

.filter-sidebar input:focus + .slider {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-sidebar input:checked + .slider:before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.filter-sidebar .slider.round {
  border-radius: 20px;
}

.filter-sidebar .slider.round:before {
  border-radius: 50%;
}

.filter-sidebar__btn {
  line-height: 100%;
  letter-spacing: -0.05em;
  margin: 40px auto 0;
  background: #f2f5f9;
  border-radius: 5px;
  display: block;
  padding: 16px 48px;
}

.filter-sidebar .irs--flat {
  margin-top: -17px;
}

.filter-sidebar .irs--flat .irs-line {
  top: 25px;
  height: 4px;
  background-color: #d5d9e5;
  border-radius: 4px;
}

.filter-sidebar .irs--flat .irs-bar {
  top: 25px;
  height: 4px;
  background-color: #cf000f;
}

.filter-sidebar .irs--flat .irs-handle > i {
  display: none;
}

.filter-sidebar .irs--flat .irs-handle {
  top: 17px;
  width: 20px;
  height: 20px;
  background: #cf000f;
  border-radius: 50%;
}

.filter-sidebar .irs--flat .irs-min,
.filter-sidebar .irs--flat .irs-max {
  display: none;
}

.filter-sidebar__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.filter-sidebar__price-from, .filter-sidebar__price-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  border: 2px solid #d5d9e5;
  border-radius: 5px;
  padding: 10px 13px 10px 10px;
  font-size: 18px;
  line-height: 22px;
  color: #d5d9e5;
}

.filter-sidebar__from-price, .filter-sidebar__to-price {
  color: #474a51;
}

.filter-sidebar .irs--flat .irs-from,
.filter-sidebar .irs--flat .irs-to,
.filter-sidebar .irs--flat .irs-single {
  display: none;
}

.buy-together__inner {
  padding: 35px 0 150px;
}

.buy-together__title {
  font-size: 36px;
  line-height: 40px;
  color: #000;
  text-align: center;
}

.buy-together__wrapper {
  max-width: 1361px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-together__card {
  max-width: 325px;
  width: 100%;
}

.buy-together__item {
  max-width: 325px;
  width: 100%;
}

.buy-together .slick-arrow {
  position: absolute;
  z-index: 15;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#cf000f), to(#cf000f)), #ffffff;
  background: linear-gradient(0deg, #cf000f, #cf000f), #ffffff;
}

.buy-together .slick-prev.slick-arrow.slick-arrow {
  left: -25px;
}

.buy-together .slick-next.slick-arrow {
  right: -20px;
  margin-left: auto;
}

.buy-together .slick-arrow.slick-disabled {
  opacity: 0.4;
}

.card-product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 0 39px;
}

.card-product__content {
  max-width: 800px;
  width: 100%;
}

.card-product__title {
  margin-bottom: 28px;
}

.card-product__content-img {
  width: 800px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product__wrap {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}

.card-product__wrap-img {
  width: 390px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product__info {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
}

.card-product__head, .card-product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.card-product__code {
  font-size: 16px;
  line-height: 19px;
  color: #959cb2;
}

.card-product__bookmark {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #d5d9e5;
  border-radius: 5px;
}

.card-product__price {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
  margin: 30px 0 40px;
}

.card-product__price-num {
  margin: 0 auto 0 10px;
  font-size: 36px;
  line-height: 40px;
  color: #cf000f;
}

.card-product__add-cart {
  padding: 16px 60px;
  background: #cf000f;
  border-radius: 5px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fff;
}

.card-product__span {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
}

.card-product__slider {
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 40px;
}

.card-product__slider .slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f2f5f9;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 2;
}

.card-product__slider .slick-prev.slick-arrow {
  left: -75px;
}

.card-product__slider .slick-next.slick-arrow {
  right: -75px;
  margin-left: auto;
}

.card-product__item, .card-product__card, .card-product__images {
  max-width: 85px;
  width: 100%;
}

.card-product__img {
  width: 85px;
  width: 85px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product__description {
  max-width: 455px;
  width: 100%;
}

.card-product__items, .card-product__number {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
}

.card-product__items + .card-product__items {
  margin-top: 20px;
}

.card-product__text {
  margin-top: 5px;
  padding-left: 10px;
}

.card-product__information {
  margin-bottom: 20px;
}

.card-product__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-top: 20px;
}

.card-product__width, .card-product__height, .card-product__depth {
  max-width: 60px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.card-product__width, .card-product__height {
  position: relative;
}

.card-product__width::after, .card-product__height::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  right: -28px;
  top: 18px;
  background-image: url("../img/icons/X.svg");
}

.card-product__height {
  margin: 0 48px;
}

.card-product__number {
  margin-top: 5px;
}

.order {
  background: #f2f5f9;
}

.order__inner {
  margin-bottom: 150px;
}

.order__wrapper {
  text-align: center;
  padding: 50px 0 90px;
}

.order__form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.order__title {
  margin-bottom: 35px;
}

.order__input, .order__textarea {
  width: 100%;
  padding: 15px 15px 13px;
}

.order__input + .order__input, .order__textarea + .order__input {
  margin-top: 10px;
}

.order__wrap {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__wrap .order__input + .order__input {
  margin-top: 0;
  margin-left: 10px;
}

.order__wrap .order__inpit {
  width: 50%;
}

.order__delivery {
  margin: 30px auto;
}

.order__delivery-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.order .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
}

.order .custom-checkbox .checkbox {
  margin-right: 15px;
}

.order .custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.order .checkbox {
  position: relative;
  border: 2px solid red;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 2px solid #31465a;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.order .round {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #31465a;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.order .custom-checkbox input:checked ~ .checkbox .round {
  display: block;
  opacity: 1;
}

.order .custom-checkbox input:checked ~ .checkbox {
  background: #f7ca18;
}

.order__comment .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #31465a;
  border-radius: 3px;
}

.order__comment .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.order__comment .custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.order__comment .custom-checkbox input:checked ~ .checkbox {
  background: #31465a;
  border: 2px solid #31465a;
}

.order__textarea {
  min-height: 180px;
  margin-bottom: 20px;
}

.order__btn {
  width: 100%;
  margin-top: 40px;
}

.basket__inner {
  padding: 11px 0 237px;
}

.basket__title {
  margin-bottom: 30px;
}

.basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.basket__content {
  max-width: 1081px;
  width: 100%;
}

.basket__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f5f9;
  border-radius: 5px;
  padding: 25px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #31465a;
}

.basket__select {
  margin: 0 30px;
}

.basket__forms {
  margin-right: 30px;
}

.basket__forms .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #31465a;
}

.basket__forms .custom-checkbox .checkbox {
  margin-right: 30px;
}

.basket__forms .custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.basket__forms .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #31465a;
  border-radius: 3px;
}

.basket__forms .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.basket__forms .custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.basket__forms .custom-checkbox input:checked ~ .checkbox {
  background: #31465a;
}

.basket__delete {
  line-height: 18px;
  color: #cf000f;
  margin-left: 30px;
}

.basket__info {
  max-width: 300px;
  width: 100%;
  background: #f2f5f9;
  border-radius: 5px;
  padding: 20px;
}

.basket__form, .basket__label {
  max-width: 100%;
  width: 100%;
}

.basket__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__input {
  width: 100%;
  padding: 14px 13px;
}

.basket__plus {
  padding: 15px;
  margin-left: 11px;
}

.basket__promo, .basket__price {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
}

.basket__cancel {
  line-height: 22px;
  color: #959cb2;
}

.basket__item {
  padding: 20px 0 15px;
  border-top: 1px solid #d5d9e5;
  border-bottom: 1px solid #d5d9e5;
}

.basket__price {
  line-height: 18px;
  margin: 0 0 15px 0;
}

.basket__items + .basket__items {
  margin-top: 12px;
}

.basket__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__total svg {
  margin-left: 10px;
}

.basket__list {
  margin-top: 19px;
}

.basket__cart, .basket__total {
  font-size: 18px;
  line-height: 22px;
  color: #31465a;
}

.basket__span, .basket__items {
  font-size: 14px;
  line-height: 22px;
  color: #959cb2;
}

.basket__btn {
  width: 100%;
  margin-top: 20px;
}

.basket__content .basket__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.basket__content .basket__cart + .basket__cart {
  margin-top: 41px;
}

.basket__content .basket__forms {
  margin-right: 0px;
}

.basket__wrap {
  margin-left: 20px;
}

.basket__img {
  width: 220px;
  height: 150px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.basket__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__head-title {
  font-size: 22px;
  line-height: 26px;
  color: #001a34;
}

.basket__head-code {
  font-size: 16px;
  line-height: 19px;
  color: #959cb2;
  margin-left: 20px;
}

.basket__description {
  margin: 10px 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__description-title {
  margin-right: 10px;
}

.basket__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__footer-add {
  line-height: 100%;
  letter-spacing: -0.05em;
  padding: 16px 34px;
  background: #f2f5f9;
  border-radius: 5px;
}

.basket .jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0;
  width: 170px;
  height: 50px;
  background: #f2f5f9;
  border-radius: 5px;
}

.basket .jq-number__field {
  width: 170px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
}

.basket .jq-number__spin.minus,
.basket .jq-number__spin.plus {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.basket .jq-number__spin.minus {
  background-image: url("../img/icons/minus.svg");
  left: 0;
}

.basket .jq-number__spin.plus {
  background-image: url("../img/icons/plus.svg");
  right: 0;
}

.basket .jq-number__spin:after {
  display: none;
}

.basket .jq-number__field input {
  width: 100%;
  padding: 0;
  background: transparent;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #31465a;
  height: 100%;
  text-align: center;
}

.basket .jq-number__spin {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: none;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f5f9), to(#f2f5f9)), #d5d9e5;
  background: linear-gradient(0deg, #f2f5f9, #f2f5f9), #d5d9e5;
  border-radius: 5px;
}

.basket__footer-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 40px;
  color: #cf000f;
}

.basket__footer-price svg {
  margin-left: 10px;
}

.footer {
  background: #efefef;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 0 24px;
}

.footer-top__items {
  max-width: 175px;
  width: 100%;
  margin-left: auto;
}

.footer-top__info {
  max-width: 365px;
  width: 100%;
  margin-left: auto;
}

.footer-top__items-title {
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
  margin-bottom: 20px;
}

.footer-top__item + .footer-top__item {
  margin-top: 10px;
}

.footer-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
}

.footer-top__social-link + .footer-top__social-link {
  margin-left: 24px;
}

.footer-top__time {
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
  margin-bottom: 30px;
}

.footer-top__mail {
  display: inline-block;
  margin-top: 30px;
}

.footer-bottom {
  padding: 24px 0 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__copyright {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #5a5f6e;
}

.footer-bottom__content {
  max-width: 365px;
  width: 100%;
  margin-left: auto;
}

.footer-bottom__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 29px;
}

.footer-bottom__text {
  font-size: 16px;
  line-height: 19px;
  color: #5a5f6e;
}

.footer-bottom__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff5f5f;
}

@media (max-width: 768px) {
  .header__inner {
    padding: 41px 0 49px;
  }
  .header__list {
    display: none;
    position: absolute;
    display: block;
    inset: 0;
    background: yellowgreen;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    z-index: 10;
    background: radial-gradient(rgba(0, 0, 0, 0.75), black);
  }
  .header__list--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .header__item + .header__item {
    margin-left: 0;
    margin-top: 15px;
  }
  .header__link {
    font-size: 26px;
  }
  .header__tel {
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: #f2f5f9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .header__tel img {
    display: block;
  }
  .header__span {
    display: none;
  }
  .header__menu {
    display: block;
    margin-right: 45px;
    z-index: 11;
  }
  .header__logo img {
    width: 159px;
  }
  .header__form {
    display: none;
  }
  .header__content {
    margin-left: 0;
  }
  .header__logo {
    margin: 0 auto;
  }
  .carousel .container {
    max-width: 768px;
    padding: 0px;
  }
  .carousel__inner {
    padding-bottom: 48px;
  }
  .carousel-slider__card, .carousel-slider__item {
    max-width: 768px;
  }
  .carousel-slider__content {
    max-width: calc(100vw - 326px);
  }
  .carousel-slider__info {
    max-width: 326px;
  }
  .carousel-slider__new {
    margin-bottom: 39px;
  }
  .carousel-slider__subtitle {
    font-size: 30px;
  }
  .carousel-slider__title {
    font-size: 46px;
    margin: 10px auto 30px;
  }
  .carousel-slider__description {
    font-size: 16px;
  }
  .carousel-slider__wrap {
    margin: auto;
  }
  .carousel-slider .slick-dots {
    bottom: -30px;
  }
  .catalog__inner {
    padding: 35px 0;
  }
  .catalog__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
  .furniture .container {
    padding: 0;
  }
  .furniture__title {
    font-size: 30px;
    line-height: 36px;
  }
  .furniture__text {
    margin: 10px auto 30px;
  }
  .furniture__video {
    min-height: 400px;
  }
  .cooperate__inner {
    padding: 30px 0 90px;
  }
  .cooperate__item + .cooperate__item {
    margin-left: 0;
  }
  .cooperate__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 50px;
  }
  .event__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 20px;
  }
  .event__item + .event__item {
    margin-left: 0;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-top__info {
    margin-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer-top__items:first-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer-top__items:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 15px;
  }
  .footer-top__items:nth-child(3) {
    margin-right: 0;
  }
  .footer-top__items:nth-child(4) {
    padding-top: 20px;
    margin-left: 5px;
  }
  .footer-top__items {
    margin-right: auto;
    margin-left: 0;
  }
  .footer-bottom__content {
    margin-top: -175px;
  }
  .footer-bottom__copyright {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 375px) {
  .header__inner {
    padding: 20px 0 30px;
  }
  .header__text {
    padding: 8px 14px;
    font-size: 12px;
    line-height: 18px;
  }
  .header__menu {
    margin-right: 10px;
    width: 34px;
    height: 34px;
  }
  .header__tel {
    display: none;
  }
  .header__logo img {
    width: 125px;
  }
  .carousel-slider__card, .carousel-slider__item {
    max-width: 375px;
    min-height: 310px;
  }
  .carousel-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel-slider__content, .carousel-slider__info {
    max-width: 100%;
    width: 100%;
  }
  .carousel-slider__content {
    padding: 0 25px;
    background-size: cover;
    background-position-x: center;
  }
  .carousel-slider .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .catalog__link {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__item + .catalog__item {
    margin-left: 12px;
  }
  .catalog__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 0;
  }
  .catalog__wrapper .slick-slide[aria-hidden="true"] {
    opacity: 0.5;
    margin: 0 auto;
  }
  .furniture__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .furniture__title {
    font-size: 28px;
  }
  .furniture__text {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .furniture__video {
    min-height: 300px;
    margin: 20px 0 30px;
  }
  .furniture__play {
    width: 100px;
    height: 100px;
  }
  .cooperate__item {
    min-height: 385px;
    -webkit-box-shadow: 0px 64px 44px -50px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 64px 44px -50px rgba(0, 0, 0, 0.15);
  }
  .cooperate__btn {
    padding: 15px 0px;
    width: 100%;
  }
  .event__title {
    margin-bottom: 30px;
  }
  .event__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .event__btn {
    margin-top: 65px;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0px;
    padding: 39px 0 0 0;
  }
  .footer-top__info {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0 auto;
    text-align: center;
  }
  .footer-top__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-top__items:nth-child(2), .footer-top__items:nth-child(4) {
    margin-left: 0;
  }
  .footer-top__item + .footer-top__item {
    margin-top: 15px;
  }
  .footer-top__items {
    max-width: 160px;
    width: 100%;
  }
  .footer-top__items-title {
    font-size: 20px;
    line-height: 24px;
  }
  .footer-top__items:nth-child(3) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .footer-top__items:first-child {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .footer-top__items:nth-child(4) {
    padding-top: 0;
  }
  .footer-top__info {
    margin-top: 58px;
  }
  .footer-top__info .footer-top__link,
  .footer-top__info .footer-top__mail {
    font-size: 24px;
    line-height: 29px;
  }
  .footer-top__time {
    font-size: 24px;
    line-height: 29px;
  }
  .footer-bottom {
    padding: 30px 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-bottom__content {
    margin-top: 0;
  }
  .footer-bottom__copyright {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .footer-bottom__text {
    text-align: center;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */