@media (max-width: 375px) {
  .header {
    &__inner {
      padding: 20px 0 30px;
    }
    &__text {
      padding: 8px 14px;
      font-size: 12px;
      line-height: 18px;
    }
    &__menu {
      margin-right: 10px;
      width: 34px;
      height: 34px;
    }
    &__tel {
      display: none;
    }
    &__logo {
      img {
        width: 125px;
      }
    }
  }
  .breadcrumbs {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px 20px;
    }
    &__item + .breadcrumbs__item {
      margin-left: 0;
    }
  }
  .catalog-product {
    &__wrapper {
      gap: 0 30px;
    }
    &__item {
      max-width: 130px;
    }
    &__text {
      width: 130px;
    }
    &__open {
      display: block;
    }
  }
  .filter-sidebar {
    display: none;
    &__price-from,
    &__price-to {
      border: 2px solid #5a5f6e;
      width: 150px;
    }
    &__btn {
      margin: 0px auto 0;
      background: #cf000f;
      color: #fff;
    }
  }
  .filter {
    position: relative;
    .filter-sidebar {
      position: absolute;
      inset: 0;
      display: block;
      z-index: 20;
      background: #f2f5f9;
      backdrop-filter: blur(20px);
      max-width: 100%;
      height: fit-content;
      padding: 30px 20px 50px;
      top: -75px;
      transform: translateX(-150%);
      transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
      &__show {
        transform: translateX(0%);
        transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      &__close{
        display: block;
        margin-left: auto;
      }
      .catalog-title {
        padding: 0;
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 27px;
        display: block;
      }
    }
    .container {
      padding: 0;
    }
    &__content {
      row-gap: 10px;
      padding-bottom: 25px;
    }
    &__view {
      margin: 25px auto 0;
    }
    &__inner {
      padding: 25px 0 30px;
    }
    &__title {
      padding: 0 15px;
    }
    &__info {
      margin-left: 0;
      .catalog-card {
        max-width: 174px;
        &__items,
        &__item {
          min-height: 230px;
        }
        &__slider {
          max-width: 174px;
          min-height: 230px;
          .slick-dots {
            bottom: -8px;
            column-gap: 6px;
          }
          .slick-dots li button {
            width: 5px;
            height: 5px;
          }
        }
        &__head {
          width: 174px;
          height: 230px;
        }
        &__img {
          width: 174px;
          height: 230px;
        }
        &__body {
          max-width: 174px;
          min-height: 106px;
          padding: 15px;
          //border: 1px solid #000;
        }
        &__code {
          font-size: 10px;
          line-height: 12px;
        }
        &__description {
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 10px;
        }
        &__price {
          font-size: 16px;
          line-height: 16px;
        }
        &__info {
          max-width: 85px;
        }
        &__cart {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .filter-pagination {
    padding: 50px 0;
    &__arrow {
      display: none;
    }
    &__item {
      width: 45px;
      height: 45px;
    }
  }
  .carousel-slider {
    &__card,
    &__item {
      max-width: 375px;
      min-height: 310px;
    }
    &__item {
      flex-direction: column;
    }
    &__content,
    &__info {
      max-width: 100%;
      width: 100%;
    }
    &__content {
      padding: 0 25px;
      background-size: cover;
      background-position-x: center;
    }
    .slick-dots li button {
      width: 10px;
      height: 10px;
    }
  }
  .catalog {
    &__link {
      font-size: 18px;
      line-height: 22px;
    }
    &__item + .catalog__item {
      margin-left: 12px;
    }
    &__wrapper {
      flex-wrap: nowrap;
      row-gap: 0;
      .slick-slide[aria-hidden="true"] {
        opacity: 0.5;
        margin: 0 auto;
      }
    }
  }
  .furniture {
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 28px;
    }
    &__text {
      margin: 0;
      order: 1;
    }
    &__video {
      min-height: 300px;
      margin: 20px 0 30px;
    }
    &__play {
      width: 100px;
      height: 100px;
    }
  }
  .cooperate {
    &__item {
      min-height: 385px;
      box-shadow: 0px 64px 44px -50px rgba(0, 0, 0, 0.15);
    }
    &__btn {
      padding: 15px 0px;
      width: 100%;
    }
  }
  .event {
    &__title {
      margin-bottom: 30px;
    }
    &__wrapper {
      flex-wrap: nowrap;
      flex-direction: column;
      row-gap: 30px;
    }
    &__btn {
      margin-top: 65px;
    }
  }
  .footer-top {
    flex-wrap: wrap;
    row-gap: 0px;
    padding: 39px 0 0 0;
    &__info {
      order: 0;
      margin: 0 auto;
      text-align: center;
    }
    &__social {
      justify-content: center;
    }
    &__items:nth-child(2),
    &__items:nth-child(4) {
      margin-left: 0;
    }
    &__item + .footer-top__item {
      margin-top: 15px;
    }
    &__items {
      max-width: 160px;
      width: 100%;
    }
    &__items-title {
      font-size: 20px;
      line-height: 24px;
    }
    &__items:nth-child(3) {
      order: -2;
    }
    &__items:first-child {
      order: -2;
    }
    &__items:nth-child(4) {
      padding-top: 0;
      //margin-top: -20px;
    }
    &__info {
      margin-top: 58px;
      .footer-top__link,
      .footer-top__mail {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &__time {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .footer-bottom {
    padding: 30px 0 40px;
    flex-direction: column-reverse;
    &__content {
      margin-top: 0;
    }
    &__copyright {
      transform: translateX(0%);
    }
    &__text {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
