@media (max-width: 768px) {
  .header {
    &__inner {
      padding: 41px 0 49px;
    }
    &__list {
      display: none;
      position: absolute;
      display: block;
      inset: 0;
      background: yellowgreen;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-150%);
      transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      z-index: 10;
      //background: radial-gradient(rgba(#000, .75), rgba(#000, 50%));
    }
    &__list--active {
      transform: translateY(0%);
      transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &__item + .header__item {
      margin-left: 0;
      margin-top: 15px;
    }
    &__link {
      font-size: 26px;
    }
    &__tel {
      display: grid;
      place-items: center;
      background: #f2f5f9;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        display: block;
      }
    }
    &__span {
      display: none;
    }
    &__menu {
      display: block;
      margin-right: 45px;
      z-index: 11;
    }
    &__logo {
      img {
        width: 159px;
      }
    }
    &__form {
      display: none;
    }
    &__content {
      margin-left: 0;
    }
    &__logo {
      margin: 0 auto;
    }
  }
  .breadcrumbs {
    &__inner {
      padding-left: 0;
    }
  }
  .catalog-product {
    .container {
      padding: 0;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 30px;
      padding-left: 15px;
    }
    &__wrapper {
      max-width: 100%;
      flex-wrap: nowrap;
      gap: 0 60px;
      padding: 0 15px;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__item {
      min-height: 125px;
      white-space: nowrap;
      //background: darkkhaki;
    }
    &__text {
      font-size: 16px;
      line-height: 18px;
      width: 150px;
      white-space: pre-line;
    }
  }
  .filter {
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 42px;
    }
    &__content {
      row-gap: 20px;
      padding-bottom: 45px;
    }
    &__info {
      .catalog-card {
        max-width: 230px;
        min-height: 297px;
      }
      .catalog-card__slider {
        max-width: 230px;
      }
      .catalog-card__head {
        max-width: 230px;
      }
      .catalog-card__img {
        width: 230px;
      }
    }
    &__view {
      margin: 30px auto 0;
    }
  }
  .filter-sidebar {
    max-width: 228px;
    &__item {
      padding-left: 0;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__price-from,
    &__price-to {
      width: 110px;
      padding: 10px 8px;
      align-items: center;
    }
    &__from-price,
    &__to-price {
      font-size: 16px;
      line-height: 18px;
    }
    &__custom-checkbox + .filter-sidebar__custom-checkbox {
      margin-top: 9px;
    }
  }
  .filter__info {
    max-width: 480px;
    margin-left: 20px;
  }
  .filter-pagination {
    padding: 60px 0;
  }
  .carousel {
    .container {
      max-width: 768px;
      padding: 0px;
    }
    &__inner {
      padding-bottom: 48px;
    }
  }
  .carousel-slider {
    &__card,
    &__item {
      max-width: 768px;
    }
    &__content {
      max-width: calc(100vw - 326px);
    }
    &__info {
      max-width: 326px;
    }
    &__new {
      margin-bottom: 39px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__title {
      font-size: 46px;
      margin: 10px auto 30px;
    }
    &__description {
      font-size: 16px;
    }
    &__wrap {
      margin: auto;
    }
    .slick-dots {
      bottom: -30px;
    }
  }
  .catalog {
    &__inner {
      padding: 35px 0;
    }
    &__wrapper {
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }
  .furniture {
    .container {
      padding: 0;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
    }
    &__text {
      margin: 10px auto 30px;
    }
    &__video {
      min-height: 400px;
    }
  }
  .cooperate {
    &__inner {
      padding: 30px 0 90px;
    }
    &__item + .cooperate__item {
      margin-left: 0;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
    }
  }
  .event {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
    }
    &__item + .event__item {
      margin-left: 0;
    }
  }
  .buy-together {
    &__inner {
      padding: 35px 0 100px;
    }
    &__title {
      font-size: 25px;
    }
    &__wrapper {
      margin-top: 30px;
    }
    &__card {
      max-width: 230px;
    }
    &__item {
      max-width: 230px;
    }
    .catalog-card {
      min-height: 297px;
      max-width: 230px;
      //background: seagreen;
      &__slider {
        max-width: 230px;
        min-height: 191px;
      }
      &__items,
      &__item {
        min-height: 191px;
      }
      &__head {
        max-width: 230px;
        height: 191px;
      }
      &__img {
        width: 230px;
        height: 191px;
      }
      &__body {
        max-width: 230px;
        min-height: 106px;
        padding: 15px 15px 15px;
        //background: darkcyan;
      }
      &__code {
        font-size: 10px;
        line-height: 12px;
      }
      &__description {
        font-size: 12px;
        line-height: 14px;
      }
      &__price {
        font-size: 16px;
        line-height: 16px;
      }
    }
    .slick-next.slick-arrow {
      right: -10px;
    }
    .slick-prev.slick-arrow.slick-arrow {
      left: -10px;
    }
  }
  .card-product {
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__content {
      display: block;
      max-width: 355px;
    }
    &__content-img {
      width: 355px;
      height: 200px;
    }
    &__wrap {
      margin-top: 10px;
      row-gap: 10px;
    }
    &__wrap-img {
      width: 170px;
      height: 170px;
    }
    &__info {
      max-width: 355px;
      margin-left: 19px;
      padding-top: 40px;
    }
    &__head,
    &__price {
      padding-right: 0;
    }
    &__price {
      font-size: 16px;
      margin: 8px 0 40px;
    }
    &__price {
      flex-wrap: wrap;
    }
    &__price-num {
      margin: 0;
      font-size: 24px;
      order: 1;
    }
    &__add-cart {
      margin-left: auto;
      margin-bottom: -49px;
    }
    &__span {
      font-size: 16px;
    }
    &__slider {
      width: 225px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
      //background: rgba($color: #000, $alpha: 0.2);
      .slick-list {
        height: 65px;
      }
      .slick-prev.slick-arrow {
        left: -65px;
      }
      .slick-next.slick-arrow {
        right: -65px;
      }
    }
    &__item,
    &__card,
    &__images {
      max-width: 65px;
      min-height: 65px;
    }
    &__img {
      width: 65px;
      width: 65px;
    }
    &__text {
      margin-top: 10px;
      padding-left: 10px;
    }
  }
  .basket {
    &__inner {
      padding: 11px 0 150px;
    }
    .catalog-title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__top {
      padding: 30px 25px;
      margin-bottom: 44px;
    }
    &__wrapper {
      column-gap: 0;
      flex-direction: column;
    }
    &__img {
      width: 110px;
    }
    &__wrap {
      margin-left: 26px;
    }
    &__head {
      align-items: center;
      justify-content: space-between;
    }
    &__description {
      margin: 10px 0 21px;
      align-items: baseline;
    }
    &__info{
      display: flex;
      flex-direction: column;
      max-width: 100%;
      width: 100%;
      margin-top: 20px;
    }
  }
  .footer-top {
    flex-wrap: wrap;
    &__info {
      margin-left: 0;
      order: -1;
    }
    &__items:first-child {
      order: -1;
    }
    &__items:nth-child(2) {
      order: -1;
      margin-left: 15px;
    }
    &__items:nth-child(3) {
      margin-right: 0;
    }
    &__items:nth-child(4) {
      padding-top: 20px;
      margin-left: 5px;
    }
    &__items {
      margin-right: auto;
      margin-left: 0;
    }
  }
  .footer-bottom {
    &__content {
      margin-top: -175px;
    }
    &__copyright {
      transform: translateX(50%);
    }
  }
}
