@media (max-width: 768px) {
  .header {
    &__inner {
      padding: 41px 0 49px;
    }
    &__list {
      display: none;
      position: absolute;
      display: block;
      inset: 0;
      background: yellowgreen;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-150%);
      transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      z-index: 10;
      background: radial-gradient(rgba(#000, .75), rgba(#000, 50%));
    }
    &__list--active {
      transform: translateY(0%);
      transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &__item + .header__item {
      margin-left: 0;
      margin-top: 15px;
    }
    &__link {
      font-size: 26px;
    }
    &__tel {
      display: grid;
      place-items: center;
      background: #f2f5f9;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        display: block;
      }
    }
    &__span {
      display: none;
    }
    &__menu {
      display: block;
      margin-right: 45px;
      z-index: 11;
    }
    &__logo {
      img {
        width: 159px;
      }
    }
    &__form {
      display: none;
    }
    &__content {
      margin-left: 0;
    }
    &__logo {
      margin: 0 auto;
    }
  }
  .carousel {
    .container {
      max-width: 768px;
      padding: 0px;
    }
    &__inner {
      padding-bottom: 48px;
    }
  }
  .carousel-slider {
    &__card,
    &__item {
      max-width: 768px;
    }
    &__content {
      max-width: calc(100vw - 326px);
    }
    &__info {
      max-width: 326px;
    }
    &__new {
      margin-bottom: 39px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__title {
      font-size: 46px;
      margin: 10px auto 30px;
    }
    &__description {
      font-size: 16px;
    }
    &__wrap {
      margin: auto;
    }
    .slick-dots {
      bottom: -30px;
    }
  }
  .catalog {
    &__inner {
      padding: 35px 0;
    }
    &__wrapper {
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }
  .furniture {
    .container {
      padding: 0;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
    }
    &__text {
      margin: 10px auto 30px;
    }
    &__video {
      min-height: 400px;
    }
  }
  .cooperate {
    &__inner {
      padding: 30px 0 90px;
    }
    &__item + .cooperate__item {
      margin-left: 0;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
    }
  }
  .event {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
    }
    &__item + .event__item {
      margin-left: 0;
    }
  }
  .footer-top {
    flex-wrap: wrap;
    &__info {
      margin-left: 0;
      order: -1;
    }
    &__items:first-child {
      order: -1;
    }
    &__items:nth-child(2) {
      order: -1;
      margin-left: 15px;
    }
    &__items:nth-child(3) {
      margin-right: 0;
    }
    &__items:nth-child(4) {
      padding-top: 20px;
      margin-left: 5px;
    }
    &__items {
      margin-right: auto;
      margin-left: 0;
    }
  }
  .footer-bottom {
    &__content {
      margin-top: -175px;
    }
    &__copyright {
      transform: translateX(50%);
    }
  }
}
